[DigitalOcean]
api_key =
ssh_key_id =
ssh_key_filename =
setup_script = https://raw.githubusercontent.com/gradiuscypher/bounty_tools/master/scripts/setup_do_vm.sh
firewall_config = https://raw.githubusercontent.com/gradiuscypher/bounty_tools/master/scripts/iptables.rules
source_ips = ["127.0.0.1", "127.0.0.2"]

[Shodan]
api_key =

[Elastic]
host =

[Censys]
api_id =
api_secret =
